{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block extra_css %}
{{ block.super }}

<link href="{{ STATIC_URL }}node_modules/portfolio/styles.css" rel="stylesheet">

{% endblock extra_css %}


{% block main %}

<portfolio>Loading...</portfolio>

</div>


{% endblock %}

{% block extra_js %}
{{ block.super }}
<!-- Polyfill(s) for older browsers -->
<script src="{{ STATIC_URL }}node_modules/core-js/client/shim.min.js"></script>

<script src="{{ STATIC_URL }}node_modules/zone.js/dist/zone.js"></script>
<script src="{{ STATIC_URL }}node_modules/reflect-metadata/Reflect.js"></script>
<script src="{{ STATIC_URL }}node_modules/hammerjs/hammer.min.js"></script>


<script>PORTFOLIO_url="{{ MEDIA_URL }}pics.json";</script>
<script src="{{ STATIC_URL }}node_modules/portfolio/dist/portfolio.umd.js"></script>
{% endblock %}
